.education__courses {
    outline: solid 1px purple;
    width: 100%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 15px;
    justify-content: center;
}

.courses-item {
    /* outline: solid 1px orange; */
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #00e6ee;
    padding: 5px 10px;
    transition: 0.3s;
    cursor: pointer;
}

.courses-item > img {
    /* outline: solid 1px green; */
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.courses-item > p {
    color: #ffffff;
    font-size: 0.85em;
}

.courses-item__link {
    text-decoration: none;
}

.courses-item:hover {
    background-color: #01575a;
}
