nav {
    /* outline: 1px solid blue; */
    height: 100px;
    font-family: sans-serif;
    font-size: 0.9em;
}

.hamburger {
    /* display: none; */
}

/* .logo {
} */

/* .logo a {
    color: #00e6ee;
} */

.navbar__items {
    width: 80%;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0 auto;
}

.navbar__items-item {
    /* outline: 1px solid white; */
    margin-right: 40px;
    transition: 0.3s;
}

.navbar__items-item a {
    color: #00e6ee;
    display: block;
    width: 100%;
}

.navbar__items-item a:hover {
    color: white;
}



.resume {
    border: 1px solid #00e6eec4;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

.resume:hover {
    background-color: #00e1e95d;
}

.resume a {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    nav {
        position: relative;
    }
    
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 10%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 3;
    }
    
    .hamburger div {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
        z-index: 2;
        transition: all 0.3s ease;
    }

    .navbar__items {
        position: fixed;
        background-color: #01011f;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 2;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 0.8s ease-out;
        pointer-events: none;
    }

    .navbar__items li {
        opacity: 0;
        transform: translateX(50px);
    }
    
    .navbar__items.open {
        clip-path: circle(1000px at 90% -20%);
        -webkit-clip-path: circle(1000px at 90% -20%);
        pointer-events: all;
    }

    .navbar__items-item {
        margin: 0;
    }
}

@keyframes navItemFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.line1.active {
    transform: rotate(-45deg) translate(-5px, 6px);
    /* transition: all 1.3 ease; */
}

.line2.active {
    opacity: 0;
    /* transition: all 1.3 ease; */

}

.line3.active {
    transform: rotate(45deg) translate(-5px, -6px);
    /* transition: all 1.3 ease; */
}