.container {
    /* outline: 1px solid purple; */
    display: grid;
    grid-template-columns: repeat(64, 1.5625%);
    grid-template-rows: repeat(20, 5%);
    height: 60vh;
    font-family: sans-serif;
    margin-top: 15%;
}

.project-image {
    /* outline: 1px solid orange; */
    grid-column-start: 1;
    grid-column-end: 42;
    grid-row-start: 1;
    grid-row-end: 21;
    padding: 30px;
    position: relative;
    border-radius: 20px;
    transition: 0.4s;
    cursor: pointer;
    border: white;
    box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.94);
    -webkit-box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.94);
    -moz-box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.94);
}

.project-image::after {
    content: "";
    background-color: #000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.project-image:hover{
    padding: 20px;

}

.project-image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: -15px 15px 10px 0px rgba(0,0,0,0.74);
    -webkit-box-shadow: -15px 15px 10px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: -15px 15px 10px 0px rgba(0,0,0,0.74);
    /* opacity: 0.8; */
}

.project-title {
    /* outline: solid 1px yellow; */
    grid-column-start: 42;
    grid-column-end: 65;
    grid-row-start: 4;
    /* grid-row-start: 3; */
    /* grid-row-end: 5; */
    text-align: right;
    font-size: 2.5em;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: -2px 2px 2px black;
    z-index: 3;
}

.project-description {
    grid-column-start: 32;
    grid-column-end: 65;
    grid-row-start: 6;
    grid-row-end: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: start;
    font-size: 1.1em;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: -2px 2px 2px black;
    box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.74);
    -webkit-box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.74);
    border-radius: 4px;
}

.project-description::after {
    content: "";
    background-color: #001547;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: -1;
}

.project-description > p {
    z-index: 1;
}

.project-technologies__list {
    /* outline: 1px solid red; */
    grid-column-start: 42;
    grid-column-end: 65;
    grid-row-start: 13;
    grid-row-end: 17;
    display: grid;
    grid-template-columns: repeat(auto-fill, 33%);
    padding: 10px;
    color: #80f8fcc4;
    text-shadow: -2px 2px 2px black;
    font-size: 1.01em;
}

.technologies__list-item {
    /* outline: solid 1px green; */
    list-style: none;
    margin-right: 10px;
}

.project-icons {
    /* outline: solid 1px white; */
    grid-column-start: 42;
    grid-column-end: 65;
    grid-row-start: 18;
    grid-row-end: 21;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.project-icons img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.1s;
}

.project-icons img:hover {
    filter: invert(55%) sepia(61%) saturate(656%) hue-rotate(133deg) brightness(107%) contrast(111%);
}

.link-icon {
    margin-left: 10px;
    width: 45px !important;
    height: 45px !important;
}


.project-image__left {
    grid-column-start: 23 !important;
    grid-column-end: 64 !important;
}

.project-title__left {
    grid-column-start: 1 !important;
    grid-column-end: 23 !important;
    text-align: left !important;
}

.project-description__left {
    grid-column-start: 1 !important;
    grid-column-end: 33 !important;
}

.project-technologies__list-left {
    grid-column-start: 1 !important;
    grid-column-end: 22 !important;
    text-align: left !important;
}

.project-icons__left {
    grid-column-start: 1 !important;
    grid-column-end: 26 !important;
    text-align: left !important;
    justify-content: flex-start !important;
}

@media only screen and (max-width: 1250px){
    .project-title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1024px){
    .project-title {
        grid-column-start: 35;
    }
}

@media only screen and (max-width: 950px){
    .project-title {
        font-size: 1.8rem;
    }
    .project-description {
        font-size: 0.9em;
    }

    .technologies__list-item {
       font-size: 0.9em;
    }
}

@media only screen and (max-width: 768px){
    .container {
        min-height: 100vh;
        display: block;
    }

    .project-image {
        width: 100%;
        padding: 0;
        min-height: auto;
    }

    .project-image::after {
        opacity: 0.1;
    }

    .project-title {
        text-align: left;
        margin-top: 30px;
    }
    
    .project-description {
        font-size: 1.1em;
    }

    .project-description::after {
        box-shadow: none;
        /* background-color: #000; */
        opacity: 0;
    }

    .project-technologies__list {
        display: flex;
        margin: 10px 0;
    }

    .project-icons {
        justify-content: flex-end !important;
    }
}

@media only screen and (max-width: 425px){
    .project-technologies__list {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 320px){
    .project-technologies__list {
        font-size: 0.55em;
    }
}