* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-flow: column;
  /* background-color: #02021E; */
  background: linear-gradient(to right, #02021E, #050546);

}